.joInput, .finishInput {
  padding-left: 60px;
  width: 400px;
  height: 60px;
  display: block;
  border-style: none;
  border-radius: 5px;
  margin: 20px auto;
  font-size: 1.25rem
}

.btn-outline-success, .btn-outline-info {
  margin-right: 10px;
}


.joInput::placeholder, .finishInput::placeholder {
  padding-left: 10px;
  font-size: 1.25rem;
  color: grey;
  opacity: 0.3;
}

.joInput:focus, .finishInput:focus {
  outline: none;
}

.finishInput {
  display: none;
  margin-left: 435px;
}

.row {
  width: 1186px;
  margin: 30px auto;
}

.sql-body, .start-body, .finish-body {
  display: none;
}

.info-input {
  border-style: none;
  background-color: #f7f7f7;
  width: 300px;
  padding-left: 10px;
  /* margin-left: 10px; */
  display: block;
}

.card-text {
  margin-left: 0;
}

.card-title {
  margin-bottom: 20px;
}

.card-img-top {
  width: 70px;
  height: 70px;
  margin: 20px auto;
}

.sql-logo {
  width: 120px;
}
